<div class="d-flex flex-column log-window card quicksand">

    <div class="d-flex flex-column card">
        <p class="card-header">Tabela wyników:</p>
        <ol class="card-text">
            <li *ngFor="let player of ms.players.sort(compareMoney)">{{ player.name }} - {{ player.money }}$</li>
        </ol>
    </div>

    <div class="d-flex flex-column">
    <p class="card-header">Wydarzenia z gry - zostało {{ ms.roundsLeft }} rund:</p>
        <ul class="">
            <li *ngFor="let log of ls.logs">
                {{log}}
            </li>
        </ul>
    </div>
    
    <div class="d-flex justify-content-space-around align-items-center">
        <button class="btn btn-outline-primary btn-lg" (click)="rotateBoard()">Obrót planszy</button>
        <button class="btn btn-outline-danger btn-lg"  (click)="movePlayer()">Rzut kostką</button>
        <button [routerLink]="['/']" class="btn btn-outline-secondary btn-lg">Nowa gra</button>
    </div>
    
</div>