<div class="table">
  <div class="board">
    <div class="center">
      <div class="community-chest-deck">
        <h2 class="label">Okazja</h2>
        <div class="deck"></div>
      </div>
      <h1 class="title">ASSISTANT</h1>
      <div class="chance-deck">
        <h2 class="label">Szansa</h2>
        <div class="deck"></div>
      </div>
    </div>

    <div class="space corner go">
      <div class="container">
        <div class="instructions">Zgarnij 200$ wypłaty,gdy przejdziesz to pole</div>
        <div class="go-word">GO</div>
      </div>
      <fa-icon [icon]="faLongArrowAltLeft" class="arrow"></fa-icon>
    </div>

    <div class="row horizontal-row bottom-row">
      <div class="space property">
        <div class="container">
          <div class="color-bar light-blue"></div>
          <div class="name">Google</div>
          <div class="price">Cena 120$</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar light-blue"></div>
          <div class="name">Microsoft</div>
          <div class="price">Cena $100</div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name">Szansa</div>
          <fa-icon [icon]="faQuestion" class="drawing"></fa-icon>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar light-blue"></div>
          <div class="name">Amazon</div>
          <div class="price">Cena $100</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name">Serwerownia</div>
          <fa-icon [icon]="faBuilding" class="drawing"></fa-icon>
          <div class="price">Cena $200</div>
        </div>
      </div>
      <div class="space fee income-tax">
        <div class="container">
          <div class="name">Podatek</div>
          <div class="diamond"></div>
          <div class="instructions">Zapłać 10%<br>lub<br>$200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar dark-purple"></div>
          <div class="name">Pepsi Co</div>
          <div class="price">Cena $50</div>
        </div>
      </div>
      <div class="space community-chest">
        <div class="container">
          <div class="name">Okazja</div>
          <fa-icon [icon]="faCube" class="drawing"></fa-icon>
          <div class="instructions">Czytaj instrukcje z karty</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar dark-purple"></div>
          <div class="name three-line-name">McDonald's</div>
          <div class="price">Cena $50</div>
        </div>
      </div>
    </div>

    <div class="space corner jail">
      <div class="just">Tylko</div>
      <div class="drawing">
        <div class="container">
          <div class="name">W</div>
          <div class="window">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <fa-icon [icon]="faFrownOpen" class="person"></fa-icon>
          </div>
          <div class="name">więzieniu</div>
        </div>
      </div>
      <div class="visiting">Odwiedzam</div>
    </div>

    <div class="row vertical-row left-row">
      <div class="space property">
        <div class="container">
          <div class="color-bar orange"></div>
          <div class="name">Nintendo</div>
          <div class="price">Cena $200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar orange"></div>
          <div class="name">Blizzard</div>
          <div class="price">Cena $180</div>
        </div>
      </div>
      <div class="space community-chest">
        <div class="container">
          <div class="name">Okazja</div>
          <fa-icon [icon]="faCube" class="drawing"></fa-icon>
          <div class="instructions">Czytaj instrukcje z karty</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar orange"></div>
          <div class="name">CD Projekt RED</div>
          <div class="price">Cena $180</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name long-name">Sala konferencyjna</div>
          <fa-icon [icon]="faBuilding" class="drawing"></fa-icon>
          <div class="price">Cena $200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar purple"></div>
          <div class="name">BMW</div>
          <div class="price">Cena $160</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar purple"></div>
          <div class="name">Audi</div>
          <div class="price">Cena $140</div>
        </div>
      </div>
      <div class="space utility electric-company">
        <div class="container">
          <div class="name">Elektrownia</div>
          <fa-icon [icon]="faLightbulb" class="drawing"></fa-icon>
          <div class="price">Cena $150</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar purple"></div>
          <div class="name">Mercedes</div>
          <div class="price">Cena $140</div>
        </div>
      </div>
    </div>

    <div class="space corner free-parking">
      <div class="container">
        <div class="name">Darmowy</div>
        <fa-icon [icon]="faCar" class="drawing"></fa-icon>
        <div class="name">Parking</div>
      </div>
    </div>

    <div class="row horizontal-row top-row">
      <div class="space property">
        <div class="container">
          <div class="color-bar red"></div>
          <div class="name">BNP Paribas</div>
          <div class="price">Cena $220</div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name">Szansa</div>
          <fa-icon [icon]="faQuestion" class="drawing blue"></fa-icon>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar red"></div>
          <div class="name">Unicredit</div>
          <div class="price">Cena $220</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar red"></div>
          <div class="name">Standard Chartered</div>
          <div class="price">Cena $200</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name">Bufet</div>
          <fa-icon [icon]="faBuilding" class="drawing"></fa-icon>
          <div class="price">Cena $200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar yellow"></div>
          <div class="name">Steelseries</div>
          <div class="price">Cena $260</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar yellow"></div>
          <div class="name">Alienware</div>
          <div class="price">Cena $260</div>
        </div>
      </div>
      <div class="space utility waterworks">
        <div class="container">
          <div class="name">Wodociągi</div>
          <fa-icon [icon]="faTint" class="drawing"></fa-icon>
          <div class="price">Cena $120</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar yellow"></div>
          <div class="name">Razer</div>
          <div class="price">Cena $280</div>
        </div>
      </div>
    </div>

    <div class="space corner go-to-jail">
      <div class="container">
        <div class="name">Idź do</div>
        <fa-icon [icon]="faGavel" class="drawing"></fa-icon>
        <div class="name">Więzienia</div>
      </div>
    </div>

    <div class="row vertical-row right-row">
      <div class="space property">
        <div class="container">
          <div class="color-bar green"></div>
          <div class="name">BP</div>
          <div class="price">Cena $300</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar green"></div>
          <div class="name three-line-name">Exxon Mobil</div>
          <div class="price">Cena $300</div>
        </div>
      </div>
      <div class="space community-chest">
        <div class="container">
          <div class="name">Okazja</div>
          <fa-icon [icon]="faCube" class="drawing"></fa-icon>
          <div class="instructions">Czytaj instrukcje z karty</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar green"></div>
          <div class="name long-name">Gazprom</div>
          <div class="price">Cena $320</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name">Gabinet prezesa</div>
          <fa-icon [icon]="faBuilding" class="drawing"></fa-icon>
          <div class="price">Cena $200</div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name">Szansa</div>
          <fa-icon [icon]="faQuestion" class="drawing"></fa-icon>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar dark-blue"></div>
          <div class="name">Apple</div>
          <div class="price">Cena $350</div>
        </div>
      </div>
      <div class="space fee luxury-tax">
        <div class="container">
          <div class="name">Podatek od luksusu</div>
          <fa-icon [icon]="faGem" class="drawing"></fa-icon>
          <div class="instructions">Cena $75.00</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar dark-blue"></div>
          <div class="name">Samsung</div>
          <div class="price">Cena $400</div>
        </div>
      </div>
    </div>
  </div>
</div>
