/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

.div41{
    font-family: 'Pacifico', cursive;
}

.bigdiv41{
    font-family: 'Pacifico', cursive;
    font-size: 42px;
}

.quicksand{
    font-family: 'Quicksand', sans-serif;
}